fastapi
uvicorn
pandas
numpy
joblib
requests
geopandas
shapely
fiona
pyproj
rtree
reportlab
matplotlib
python-multipart
xgboost
lightgbm
scipy
catboost
scikit-learn==1.7.2
shap
plotly
imbalanced-learn